.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.around {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.margins {
  margin-left: 5%;
  margin-right: 5%;
}

html, body {
  padding: 0px;
  margin: 0px;
}

body, p {
  font-family: "Roboto", Impact, "Arial black", Arial, Verdana, "sans-serif";
}

h3 {
  font-family: "Shrikhand", Impact, "Arial black", Arial, Verdana, "sans-serif";
}

h2 {
  margin: 0px;
  font-size: 1.2em;
  font-weight: 1000;
}

a {
  color: black;
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

p {
  color: #595959;
}

hr {
  height: 3px;
  width: 40px;
  border: none;
  background-color: #99E2D0;
  margin: 0;
  margin-bottom: 20px;
  margin-top: -15px;
}

.header {
  height: 50px;
}

.header__heading {
  width: 196px;
  height: 34px;
}

.header-menu {
  height: 50px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-menu__logo {
  padding-left: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.header-menu__logo--size {
  font-size: 1.3em;
}

.header-menu__heading--pic {
  width: 196px;
  height: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer {
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: #3B3B3B;
  color: white;
}

.footer-menu {
  padding-left: 5%;
  margin: 0px;
}

.footer-menu__link {
  padding-bottom: 5px;
}

.footer-menu__link a {
  color: white;
}

.location {
  height: 50px;
  width: 100%;
  background-color: #E9E9E9;
}

.location__logo--padding {
  padding-right: 15px;
}

.location input {
  width: 100%;
  border: 0;
  background-color: #E9E9E9;
  text-align: center;
}

.intro {
  background-color: #F5F5F5;
}

.intro__title {
  padding-bottom: 0px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 1.75em;
}

.intro__txt {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #3B3B3B;
  text-align: center;
}

.intro__btn {
  height: 50px;
  width: 200px;
  border: none;
  color: white;
  background: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  font-size: 15px;
  cursor: pointer;
  margin-top: 30px;
  margin-bottom: 40.08px;
  border-radius: 30px;
  -webkit-box-shadow: 1.5px 1.5px 3px 1.5px #E9E9E9;
          box-shadow: 1.5px 1.5px 3px 1.5px #E9E9E9;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 300ms;
  transition: -webkit-transform 300ms;
  transition: transform 300ms;
  transition: transform 300ms, -webkit-transform 300ms;
}

.intro__btn:hover {
  background: #ae80e5;
  -webkit-box-shadow: 1.5px 1.5px 3px 1.5px #3B3B3B;
          box-shadow: 1.5px 1.5px 3px 1.5px #3B3B3B;
}

@media (min-width: 972px) {
  .functionning {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.functionning-cards {
  height: auto;
  width: 100%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-color: #F5F5F5;
  margin-left: 10px;
  border-radius: 30px;
  margin-bottom: 20px;
  -webkit-box-shadow: 1.5px 1.5px 3px 1.5px #E9E9E9;
          box-shadow: 1.5px 1.5px 3px 1.5px #E9E9E9;
}

@media (min-width: 426px) {
  .functionning-cards {
    width: 382.5px;
  }
}

@media (min-width: 972px) {
  .functionning-cards {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 33%;
  }
}

.functionning-cards:hover {
  background-color: #f1eafb;
  color: #9356DC;
}

.functionning-cards__numbers {
  height: 25px;
  width: 25px;
  border-radius: 25px;
  color: white;
  background-color: #9356DC;
  margin-left: -11px;
}

@media (min-width: 972px) {
  .functionning-cards__numbers {
    margin-left: O;
  }
}

.functionning-cards--margin {
  margin-left: 40px;
}

@media (min-width: 972px) {
  .functionning-cards--margin {
    margin-left: O;
  }
}

.restau-cards {
  width: 100%;
  height: 325px;
  border-radius: 30px;
  margin-bottom: 20px;
  -webkit-box-shadow: 1.5px 1.5px 3px 1.5px #E9E9E9;
          box-shadow: 1.5px 1.5px 3px 1.5px #E9E9E9;
}

.restau-cards--padding {
  padding: 10px;
}

.restau-cards__img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 250px;
  border-radius: 30px 30px 0px 0px;
}

.restau-cards__txt {
  margin: 0px;
  padding-top: 5px;
}

.restau-cards__heart {
  padding-right: 20px;
  font-size: 1.5em;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

/* MENU */
.test {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.img--size {
  -o-object-fit: cover;
     object-fit: cover;
  height: 220px;
  width: 100%;
}

.img--position {
  position: relative;
  z-index: -1;
}

.bloc-heading {
  border-radius: 30px 30px 0 0;
  padding-left: 5%;
  padding-right: 5%;
  margin-top: -30px;
  background-color: white;
}

.bloc-heading__title {
  font-family: "Shrikhand", Impact, "Arial black", Arial, Verdana, "sans-serif";
}

.bloc-heading__heart {
  font-size: 1.5em;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.bloc__btn {
  height: 50px;
  width: 200px;
  border: none;
  color: white;
  background: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  font-size: 15px;
  cursor: pointer;
  margin-top: 30px;
  margin-bottom: 60px;
  border-radius: 30px;
  -webkit-box-shadow: 1.5px 1.5px 3px 1.5px #E9E9E9;
          box-shadow: 1.5px 1.5px 3px 1.5px #E9E9E9;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 300ms;
  transition: -webkit-transform 300ms;
  transition: transform 300ms;
  transition: transform 300ms, -webkit-transform 300ms;
}

.bloc__btn:hover {
  background: #ae80e5;
  -webkit-box-shadow: 1.5px 1.5px 3px 1.5px #3B3B3B;
          box-shadow: 1.5px 1.5px 3px 1.5px #3B3B3B;
}

.like-icon {
  position: relative;
  cursor: pointer;
  height: 50px;
  width: 50px;
}

.like-icon:hover {
  color: #ff79da;
}

.like-icon .not-liked {
  position: absolute;
}

.like-icon .liked {
  position: absolute;
  color: #ff79da;
  z-index: 2;
  background: -webkit-gradient(linear, left bottom, left top, from(#9356dc), to(#ff79da));
  background: linear-gradient(0deg, #9356dc, #ff79da);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
}

.like-icon .liked:hover {
  opacity: 1;
}

.cards {
  height: auto;
  width: 100%;
  border-radius: 15px;
  margin-bottom: 20px;
  -webkit-box-shadow: 1.5px 1.5px 3px 1.5px #E9E9E9;
          box-shadow: 1.5px 1.5px 3px 1.5px #E9E9E9;
}

@media (min-width: 899px) {
  .cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    min-height: 95px;
    width: 30%;
  }
}

.cards:hover {
  padding: 0;
}

.cards__check {
  font-size: 1.5em;
  color: white;
  background-color: #c1ede2;
  height: 57px;
  width: 50px;
  border-radius: 0 15px 15px 0;
  -webkit-border-radius: 0 15px 15px 0;
  -moz-border-radius: 0 15px 15px 0;
  -ms-border-radius: 0 15px 15px 0;
  -o-border-radius: 0 15px 15px 0;
}

@media (min-width: 899px) {
  .cards__details {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.cards__fulldetails {
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
}

.cards__recipes {
  font-size: 0.9em;
  padding-top: 5px;
  margin: 0;
}

.cards__prices {
  color: black;
  font-weight: 1000;
  margin: 0;
}

@media (min-width: 899px) {
  .cards__prices {
    padding-top: 5px;
  }
}

@media (min-width: 899px) {
  .entries, .dishes, .desserts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%;
  }
}

/* SPIN-LOADER */
.loader {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 10000;
  -webkit-animation: hide-spinner 3s 1;
  animation: hide-spinner 3s 1;
  visibility: hidden;
}

.loader .loader-circle {
  border: 10px solid #9356dc;
  border-top: 10px solid #99e2d0;
  border-bottom: 10px solid #ff79da;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  -webkit-animation: spin linear 1.5s 2;
  animation: spin linear 1.5s 2;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes hide-spinner {
  0% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}

@keyframes hide-spinner {
  0% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}

/* SILDE-IN-TOP */
.slide-in-fwd-top {
  -webkit-animation: slide-in-fwd-top 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s both;
  animation: slide-in-fwd-top 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s both;
}

.slide-in-fwd-top-2 {
  -webkit-animation: slide-in-fwd-top 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1.2s both;
  animation: slide-in-fwd-top 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1.2s both;
}

.slide-in-fwd-top-3 {
  -webkit-animation: slide-in-fwd-top 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1.4s both;
  animation: slide-in-fwd-top 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1.4s both;
}

@-webkit-keyframes slide-in-fwd-top {
  0% {
    -webkit-transform: translateZ(-1400px) translateY(-800px);
    transform: translateZ(-1400px) translateY(-800px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-fwd-top {
  0% {
    -webkit-transform: translateZ(-1400px) translateY(-800px);
    transform: translateZ(-1400px) translateY(-800px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-in-fwd-top-2 {
  0% {
    -webkit-transform: translateZ(-1400px) translateY(-800px);
    transform: translateZ(-1400px) translateY(-800px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-fwd-top-2 {
  0% {
    -webkit-transform: translateZ(-1400px) translateY(-800px);
    transform: translateZ(-1400px) translateY(-800px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-in-fwd-top-3 {
  0% {
    -webkit-transform: translateZ(-1400px) translateY(-800px);
    transform: translateZ(-1400px) translateY(-800px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-fwd-top-3 {
  0% {
    -webkit-transform: translateZ(-1400px) translateY(-800px);
    transform: translateZ(-1400px) translateY(-800px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}

/* ROLL-IN-RIGHT */
.roll-in-right {
  -webkit-animation: roll-in-right 0.6s ease-out both;
  animation: roll-in-right 0.6s ease-out both;
}

@-webkit-keyframes roll-in-right {
  0% {
    -webkit-transform: translateX(800px) rotate(540deg);
    transform: translateX(800px) rotate(540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}

@keyframes roll-in-right {
  0% {
    -webkit-transform: translateX(800px) rotate(540deg);
    transform: translateX(800px) rotate(540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}
/*# sourceMappingURL=main.css.map */