html, body {
  padding: 0px;
  margin: 0px;
}

body, p {
  font-family: "Roboto", Impact, "Arial black", Arial, Verdana, "sans-serif";
}

h1, h3 {
  font-family: "Shrikhand", Impact, "Arial black", Arial, Verdana, "sans-serif";
}

h2 {
  margin: 0px;
  font-size: 1.2em;
  font-weight: 1000;
}

a {
  color: black;
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

p {
  color: #595959;
  margin-top: 0;
}

section {
  margin-left: 5%;
  margin-right: 5%;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.around {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header__heading {
  width: 196px;
  height: 34px;
  padding-right: 80px;
}

.header__logo {
  font-size: 1.3em;
}

.pic__img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 175px;
  width: 100%;
}

.bloc {
  border-radius: 30px;
  margin-top: -30px;
}

.bloc-heading {
  font-size: 1.50em;
}

.bloc__btn {
  height: 50px;
  width: 200px;
  border: none;
  color: white;
  background-color: #9356DC;
  font-size: 15px;
  margin-top: 30px;
  margin-bottom: 60px;
  border-radius: 30px;
  -webkit-box-shadow: 3px 3px 3px 3px #F2F2F2;
          box-shadow: 3px 3px 3px 3px #F2F2F2;
}

.titles {
  border-bottom: 3px solid #99E2D0;
}

.cards {
  height: 50px;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
  border-radius: 15px;
  margin-bottom: 20px;
  -webkit-box-shadow: 3px 3px 3px 3px #F2F2F2;
          box-shadow: 3px 3px 3px 3px #F2F2F2;
}

.cards__recipes {
  font-size: 0.9em;
  padding-top: 5px;
  margin-bottom: 0;
}

.cards__prices {
  color: black;
  font-weight: 1000;
  margin-bottom: 0;
}

footer {
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: #595959;
  color: white;
}

.footer-menu {
  padding-left: 5%;
  margin: 0px;
}

.footer-menu__link {
  padding-bottom: 5px;
}

.footer-menu__link a {
  color: white;
}
/*# sourceMappingURL=menu.css.map */