html, body {
  padding: 0px;
  margin: 0px;
}

body, p {
  font-family: "Roboto", Impact, "Arial black", Arial, Verdana, "sans-serif";
}

h1, h3 {
  font-family: "Shrikhand", Impact, "Arial black", Arial, Verdana, "sans-serif";
}

h2 {
  margin: 0px;
  font-size: 1.2em;
  font-weight: 1000;
}

a {
  color: black;
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

p {
  color: #595959;
  margin-top: 0;
}

section {
  margin-left: 5%;
  margin-right: 5%;
}

hr {
  height: 3px;
  width: 40px;
  border: none;
  background-color: #99E2D0;
  margin: 0;
  margin-bottom: 20px;
  margin-top: -15px;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.around {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header {
  height: 50px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__logo {
  padding-left: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.header__logo--size {
  font-size: 1.3em;
}

.header__heading--pic {
  width: 196px;
  height: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.test {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bloc {
  width: 100%;
  height: auto;
  border-radius: 30px;
  position: relative;
  z-index: 1;
  border-radius: 15px 15px 0 0;
}

.bloc__img--size {
  -o-object-fit: cover;
     object-fit: cover;
  height: 175px;
  width: 100%;
}

.bloc__img--position {
  position: absolute;
  z-index: -1;
}

.bloc-heading {
  border-radius: 30px 30px 0 0;
  padding-left: 5%;
  padding-right: 5%;
}

.bloc-heading__heart {
  padding-right: 5%;
}

.bloc__btn {
  height: 50px;
  width: 200px;
  border: none;
  color: white;
  background-color: #9356DC;
  font-size: 15px;
  margin-top: 30px;
  margin-bottom: 60px;
  border-radius: 30px;
  -webkit-box-shadow: 3px 3px 3px 3px white;
          box-shadow: 3px 3px 3px 3px white;
}

.bloc__btn:hover {
  background-color: #ae80e5;
  -webkit-box-shadow: 3px 3px 3px 3px #898989;
          box-shadow: 3px 3px 3px 3px #898989;
}

.cards {
  height: auto;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
  border-radius: 15px;
  margin-bottom: 20px;
  -webkit-box-shadow: 3px 3px 3px 3px #E9E9E9;
          box-shadow: 3px 3px 3px 3px #E9E9E9;
}

@media (min-width: 899px) {
  .cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    min-height: 95px;
    width: 30%;
  }
}

@media (min-width: 899px) {
  .cards__details {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.cards__recipes {
  font-size: 0.9em;
  padding-top: 5px;
  margin-bottom: 0;
}

.cards__prices {
  color: black;
  font-weight: 1000;
  margin-bottom: 0;
}

@media (min-width: 899px) {
  .cards__prices {
    padding-top: 5px;
  }
}

@media (min-width: 899px) {
  .entries, .dishes, .desserts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

footer {
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: #898989;
  color: white;
}

.footer-menu {
  padding-left: 5%;
  margin: 0px;
}

.footer-menu__link {
  padding-bottom: 5px;
}

.footer-menu__link a {
  color: white;
}
/*# sourceMappingURL=menu.css.map */