html, body {
    padding: 0px;
    margin: 0px;
}

body, p {
    font-family: "Roboto", Impact, "Arial black", Arial, Verdana, "sans-serif";
}

h1, h3 {
    font-family: "Shrikhand", Impact, "Arial black", Arial, Verdana, "sans-serif";
}

h2 {
    margin: 0px;
    font-size: 1.2em;
    font-weight: 1000;
}

a {
	color: black;
	text-decoration: none;
}

ul li {
	list-style-type: none;
}

p {
    color: rgb(89, 89, 89);
    margin-top: 0;
}

section {
    margin-left: 5%;
    margin-right: 5%;
}

hr {
    height: 3px;
    width: 40px;
    border: none;
    background-color: $color_tertiary;
    margin: 0;
    margin-bottom: 20px;
    margin-top: -15px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.around {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

$color_primary: #9356DC;
$color_primary_light: lighten(#9356DC,10%);
$color_secondary: #FF79DA;
$color_tertiary: #99E2D0;
$color_intermediary: #898989;

$margin_bottom: 20px;

@mixin box-shadow($color){
    box-shadow: 3px 3px 3px 3px $color;
}

.header {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    &__logo {
        padding-left: 5%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        &--size {
            font-size: 1.3em;
        }
    }
    &__heading { 
        &--pic {
            width: 196px;
            height: 34px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

.test {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}

.bloc {
    width: 100%;
    height: auto;
    border-radius: 30px;
    background-color: $color_intermediary;
    &__img {
        overflow: auto;
        &--size {
        object-fit: cover;
        height: 175px;
        width: 100%;
        }
    }
    &-heading {
        border-radius: 30px 30px 0 0;
        font-size: 1.50em;
        background-color: #9356DC;
        &__title {
            padding-left: 5%;
        }
        &__heart {
            padding-right: 5%;
        }
    }
    &__btn {
        height: 50px;
        width: 200px;
        border: none;
        color: white;
        background-color: $color_primary;
        font-size: 15px;
        margin-top: 30px;
        margin-bottom: 60px;
        border-radius: 30px;
        @include box-shadow(white);
        & a:hover {
            background-color: $color_primary_light;
            @include box-shadow($color_intermediary);
        }
    }
}

.cards {
    height: auto;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 15px;
    margin-bottom: $margin_bottom;
    @include box-shadow(white);
    @media (min-width: 899px) {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        min-height: 95px;
        width: 30%;
    }
    &__details {
        @media (min-width: 899px) {
            flex-direction: column;
            align-items: flex-start;
        }
    }
    &__recipes {
        font-size: 0.9em;
        padding-top: 5px;
        margin-bottom: 0;
    }
    &__prices {
        color: black;
        font-weight: 1000;
        margin-bottom: 0;
        @media (min-width: 899px) {
            padding-top: 5px;
        }
    }
}

.entries, .dishes, .desserts {
    @media (min-width: 899px) {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}

footer {
    height: 200px;
    display: flex;
    align-items: flex-start;
    background-color: $color_intermediary;
    color: white;
}

.footer-menu {
    padding-left: 5%;
    margin: 0px;
    &__link {
        padding-bottom: 5px;
        & a {
            color: white;
        }
    }
}