.header {
    height: 50px;
    &__heading {
        width: 196px;
        height: 34px;
    }
}

footer {
    height: 200px;
    display: flex;
    align-items: flex-start;
    background-color: $color_intermediary;
    color: white;
}

.footer-menu {
    padding-left: 5%;
    margin: 0px;
    &__link {
        padding-bottom: 5px;
        & a {
            color: white;
        }
    }
}