.header {
    height: 50px;
    &__heading {
        width: 196px;
        height: 34px;
    }
}

.header-menu {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    &__logo {
        padding-left: 5%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        &--size {
            font-size: 1.3em;
        }
    }
    &__heading { 
        &--pic {
            width: 196px;
            height: 34px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

footer {
    height: 200px;
    display: flex;
    align-items: flex-start;
    background-color: $color_intermediary;
    color: white;
}

.footer-menu {
    padding-left: 5%;
    margin: 0px;
    &__link {
        padding-bottom: 5px;
        & a {
            color: white;
        }
    }
}