/* SPIN-LOADER */

.loader {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 10000;
    -webkit-animation: hide-spinner 3s 1;
            animation: hide-spinner 3s 1;
    visibility: hidden;
}
  
.loader-circle {
    border: 10px solid #9356dc;
    border-top: 10px solid #99e2d0;
    border-bottom: 10px solid #ff79da;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    -webkit-animation: spin linear 1.5s 2;
            animation: spin linear 1.5s 2;
}

@-webkit-keyframes spin {
    0% {-webkit-transform: rotate(0deg);}
    100% {-webkit-transform: rotate(360deg);}
}

@keyframes spin {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

@-webkit-keyframes hide-spinner {
  0% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}

@keyframes hide-spinner {
  0% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}

/* SILDE-IN-BOTTOM */

.slide-in-fwd-bottom {
	        animation: slide-in-fwd-bottom 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
	        -webkit-animation: slide-in-fwd-bottom 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
}

.slide-in-fwd-bottom-2 {
	        animation: slide-in-fwd-bottom 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.2s both;
	        -webkit-animation: slide-in-fwd-bottom 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.2s both;
}

.slide-in-fwd-bottom-3 {
	        animation: slide-in-fwd-bottom 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.4s both;
	        -webkit-animation: slide-in-fwd-bottom 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.4s both;
}

.slide-in-fwd-bottom-4 {
	        animation: slide-in-fwd-bottom 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.6s both;
	        -webkit-animation: slide-in-fwd-bottom 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.6s both;
}

@keyframes slide-in-fwd-bottom {
  0% {
            -webkit-transform: translateZ(-1400px) translateY(50px);
            transform: translateZ(-1400px) translateY(50px);
            opacity: 0;
            -moz-transform: translateZ(-1400px) translateY(50px);
            -ms-transform: translateZ(-1400px) translateY(50px);
            -o-transform: translateZ(-1400px) translateY(50px);
}
  100% {
    -webkit-transform: translateZ(0) translateY(0);
            transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-fwd-bottom-2 {
  0% {
            -webkit-transform: translateZ(-1400px) translateY(50px);
            transform: translateZ(-1400px) translateY(50px);
            opacity: 0;
            -moz-transform: translateZ(-1400px) translateY(50px);
            -ms-transform: translateZ(-1400px) translateY(50px);
            -o-transform: translateZ(-1400px) translateY(50px);
}
  100% {
    -webkit-transform: translateZ(0) translateY(0);
            transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-fwd-bottom-3 {
  0% {
            -webkit-transform: translateZ(-1400px) translateY(50px);
            transform: translateZ(-1400px) translateY(50px);
            opacity: 0;
            -moz-transform: translateZ(-1400px) translateY(50px);
            -ms-transform: translateZ(-1400px) translateY(50px);
            -o-transform: translateZ(-1400px) translateY(50px);
}
  100% {
    -webkit-transform: translateZ(0) translateY(0);
            transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-fwd-bottom-4 {
  0% {
            -webkit-transform: translateZ(-1400px) translateY(50px);
            transform: translateZ(-1400px) translateY(50px);
            opacity: 0;
            -moz-transform: translateZ(-1400px) translateY(50px);
            -ms-transform: translateZ(-1400px) translateY(50px);
            -o-transform: translateZ(-1400px) translateY(50px);
}
  100% {
    -webkit-transform: translateZ(0) translateY(0);
            transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}