.location {
    height: 50px;
    width: 100%;
    background-color: $color_location;
    &__logo--padding {
        padding-right: 15px;
    }
    & input {
        width: 100%;
        border: 0;
        background-color: $color_location;
        text-align: center;
    }
}

.intro {
    background-color: $color_intro_functionning;
    &__title {
        padding-bottom: 0px;
        margin-bottom: 10px;
        text-align: center;
        font-size: 1.75em;
    }
    &__txt {
        margin-top: 0px;
        margin-bottom: 0px;
        color: $color_intermediary;
        text-align: center;
    }
    &__btn {
        height: 50px;
        width: 200px;
        border: none;
        color: white;
        background: linear-gradient(to bottom right, $color_secondary, $color_primary);
        font-size: 15px;
        cursor: pointer;
        margin-top: 30px;
        margin-bottom: 40.08px;
        border-radius: $border_radius;
        @include box-shadow($color_location);
        transform: scale(1);
        transition: transform 300ms;
        &:hover {
            background: lighten($color_primary, 10%);
            @include box-shadow($color_intermediary);
        }
    }
}

.functionning {
    @media (min-width: 972px) {
        flex-direction: row;
    }
    &-cards {
        height: auto;
        width: 100%;
        justify-content: flex-start;
        background-color: $color_intro_functionning;
        margin-left: 10px;
        border-radius: $border_radius;
        margin-bottom: $margin_bottom;
        @include box-shadow($color_location);
        @media (min-width: 426px) {
            width: 382.5px;
        }
        @media (min-width: 972px) {
            align-items: center;
            width: 33%;
        }
        &:hover {
            background-color: #f1eafb;
            color: $color_primary;
        }
        &__numbers {
            height: 25px;
            width: 25px;
            border-radius: 25px;
            color: white;
            background-color: $color_primary;
            margin-left: -11px;
            @media (min-width: 972px) {
                margin-left: O;
            }
        }
    }
}

.functionning-cards--margin {
    margin-left: 40px;
    @media (min-width: 972px) {
        margin-left: O;
    }
}

.restau {
    &-cards {
        width: 100%;
        height: 325px;
        border-radius: $border_radius;
        margin-bottom: $margin_bottom;
        position: relative;
        @include box-shadow($color_location);
        &--padding {
            padding: 10px;
        }
        &__new {
            height: 30px;
            width: 100px;
            border-radius: 3px;
            background-color: darken(#99E2D0, 5%);
            color: darken($color_tertiary, 40%);
            font-weight: bold;
            position: absolute;
            z-index: 1;
            top: 15px;
            right: 15px;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            -ms-border-radius: 3px;
            -o-border-radius: 3px;
        }
        &__img {
            object-fit: cover;
            position: relative;
            width: 100%;
            height: 250px;
            border-radius: 15px 15px 0px 0px;
            -webkit-border-radius: 15px 15px 0px 0px;
            -moz-border-radius: 15px 15px 0px 0px;
            -ms-border-radius: 15px 15px 0px 0px;
            -o-border-radius: 15px 15px 0px 0px;
}
        &__txt {
            margin: 0px;
            padding-top: 5px;
        }
        &__heart {
            font-size: 1.5em;
            -webkit-text-fill-color: white;
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: black;
        }
    }
}

/* MENU */ 

.header--position {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}

.img {
    &--size {
    object-fit: cover;
    height: 220px;
    width: 100%;
    }
    &--position {
        position: relative;
        z-index: -1;
    }
}

.bloc {
    &-heading {
        border-radius: 30px 30px 0 0;
        padding-left: 5%;
        padding-right: 5%;
        margin-top: -30px;
        background-color: white;
        &__title {
            font-family: "Shrikhand", Impact, "Arial black", Arial, Verdana, "sans-serif";
        }
        &__heart {
            font-size: 1.5em;
            -webkit-text-fill-color: white;
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: black;
        }
    }
    &__btn {
        height: 50px;
        width: 200px;
        border: none;
        color: white;
        background: linear-gradient(to bottom right, $color_secondary, $color_primary);
        font-size: 15px;
        cursor: pointer;
        margin-top: 30px;
        margin-bottom: 60px;
        border-radius: 30px;
        @include box-shadow($color_location);
        transform: scale(1);
        transition: transform 300ms;
        &:hover {
            background: lighten($color_primary, 10%);
            @include box-shadow($color_intermediary);
            }
     }
}

.like-icon {
    position: relative;
    cursor: pointer;
    height: 50px;
    width: 50px;
}

.like-icon:hover { 
    color: #ff79da; 
    -webkit-text-stroke-width: 0;
} 

.like-icon .not-liked { 
    position: absolute;
} 

.like-icon .liked { 
    position: absolute; 
    color: #ff79da; 
    z-index: 2; 
    background: -webkit-gradient(linear, left bottom, left top, from(#9356dc), to(#ff79da)); 
    background: linear-gradient(0deg, #9356dc, #ff79da); 
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0;
} 
    
.like-icon .liked:hover { 
    opacity: 1;
    -webkit-text-stroke-width: 0;
}

.cards {
    height: 57px;
    width: 100%;
    border-radius: 15px;
    margin-bottom: $margin_bottom;
    @include box-shadow($color_location);
    @media (min-width: 899px) {
        display: flex;
        align-items: flex-start;
        min-height: 70px;
        width: 30%;
    }
    &:hover > .cards__check {
        height: 57px;
        width: 50px;
        transition-property: width;
        -webkit-transition-duration: 0.5s;
        transition-duration: 0.5s;
    }
    &:hover .cards__checkicon {
        color: white;
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
        -webkit-transition-duration: 0.5s;
        transition-duration: 0.5s;
        -moz-transform: rotate(-360deg);
        -ms-transform: rotate(-360deg);
        -o-transform: rotate(-360deg);
}
    &__check {
        font-size: 1.5em;
        color: white;
        background-color: lighten(#99E2D0, 10%);
        height: 0;
        width: 0;
        border-radius: 0 15px 15px 0;
        -webkit-border-radius: 0 15px 15px 0;
        -moz-border-radius: 0 15px 15px 0;
        -ms-border-radius: 0 15px 15px 0;
        -o-border-radius: 0 15px 15px 0;
        @media (min-width: 899px) {
            min-height: 70px;
            align-self: flex-end;
        }
    }
    &__checkicon {
        color: transparent;
        height: 27px;
    }
    &__details {
        @media (min-width: 899px) {
            flex-direction: column;
            align-items: flex-start;
        }
    }
    &__fulldetails {
        width: 100%;
        padding-right: 10px;
        padding-left: 10px;
    }
    &__recipes {
        font-size: 0.9em;
        padding-top: 5px;
        margin: 0;
    }
    &__prices {
        color: black;
        font-weight: 1000;
        margin: 0;
        @media (min-width: 899px) {
            padding-top: 5px;
        }
    }
}

.entries, .dishes, .desserts {
    @media (min-width: 899px) {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
    }
}