html, body {
    padding: 0px;
    margin: 0px;
}

body, p {
    font-family: "Roboto", Impact, "Arial black", Arial, Verdana, "sans-serif";
}

h3 {
    font-family: "Shrikhand", Impact, "Arial black", Arial, Verdana, "sans-serif";
}

h2 {
    margin: 0px;
    font-size: 1.2em;
    font-weight: 1000;
    @media screen and (max-width: 380px) {
        width: 200px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; 
    }
    @media screen and (min-width: 899px) and (max-width: 1603px) {
        width: 130px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; 
    }
}

a {
	color: black;
	text-decoration: none;
}

ul li {
	list-style-type: none;
}

p {
    color: rgb(89, 89, 89);
}

hr {
    height: 3px;
    width: 40px;
    border: none;
    background-color: $color_tertiary;
    margin: 0;
    margin-bottom: 20px;
    margin-top: -15px;
}