@mixin box-shadow($color){
    box-shadow: 1.5px 1.5px 3px 1.5px $color;
}

@mixin roll-in-right {
    -webkit-animation: roll-in-right 0.6s ease-out both;
    animation: roll-in-right 0.6s ease-out both;
}